/* Geral */
body {
  margin: 0;
  background: #0d0d0d;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

/* Caixa do login */
.box {
  background: #1a1a1a;
  padding: 40px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.6);
}

h2 {
  color: #ff0000;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  background:
